@*******************************************************************************************************
//  History.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  03/03/2016 - Russell Robertson
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using MiPlan.Models
@using GSF
@using GSF.Web.Model
@model AppModel
@{
    DataContext dataContext = Model.DataContext;
    ViewBag.HideAddNewButton = true;
}

<p>To be developed.  Will enable browsing of inactive patches.  A new menu will be provided to produce complaince evenidence reports.</p>


@{
    ViewBag.HeaderColumns = new[]
{
        //    { "Field", "Label", "Classes" }
        new[] { "Title", "SPM Reference", "text-left" },
        new[] { "BusinessUnitID", "Busness Unit", "text-left"},
        new[] { "Field1", "Title", "text-left"},
        new[] { null, "Add Documents", "text-center valign-middle" }

    };

    ViewBag.BodyRows = BodyRows().ToString();

}
@helper BodyRows()
{
    <td width="15%" class="text-left valign-middle"><button type="button" class="btn btn-link" data-bind="text: Title, click: $parent.viewPageRecord"></button></td>
    <td width="15%" class="text-left valign-middle"><div nowrap data-bind="text: lookupNameValue(BusinessUnitID)"></div></td>
    <td width="50%" class="text-left valign-middle"><div nowrap data-bind="text: Field1"></div></td>
    <td width="5%" class="text-center valign-middle"><button type="button" id="newWindow" data-bind="" class="btn btn-danger btn-sm">Add</button></td>    
}
@Html.Partial("PagedViewModel")
@section Scripts {
    <script>
        @Html.Raw(Model.RenderViewModelConfiguration<CompletedMitigationPlan>(ViewBag))
        @Html.Raw(Model.RenderAbstract<BusinessUnit>("Name"))
    </script>
}